/**
 * @name SKidded
 * @author not under#5271
 * @version 1.1.0e
 * @description A skidded theme
 * @authorId 748741808439427104
 * source https://github.com/shutupurbad/my-betterdiscord-stuff/blob/main/SKidded.theme.css
*/

/* IMPORT RANDOM STUFF */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://discordstyles.github.io/discord-dyslexia/src/base.css");
@import url("https://raw.githack.com/Freeplayg/Discord-TeardropMessages/main/theme.css");
@import url("https://raw.githack.com/leeprky/MyThemesBasesStuffYeah/lode/round-stuff.css");
@import url("https://commandcrafterhd.github.io/DiscordDarkNeon/css/hideUsers.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css");
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/main.css");
@import url("https://tropix126.github.io/BetterDiscordStuff/materialcons/base.css");
@import url("https://raw.githack.com/shutupurbad/my-betterdiscord-stuff/main/deepblueimport.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");

/* ---------------------------------------------------------------------------- */

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
  /* epic rainbow border */
  --Thickness:5px;
  --Speed:6s;
  /* -------------------------------------- */
  --mention-hue: 187;
  --columns:			2;							/* default:	3					(amount of servercolumns)																		*/
	
  --guildsize:		50;							/* default:	50					(serversize in pixel)																			*/
  --guildgap:			5;							/* default:	3					(top/bottom gap between servers in pixel)														*/
	
  --aligndms:			1;							/* default:	0					(should DMs be aligned in columns: 0 = no, 1 = yes)												*/
  --emojis-size: 180px; /* Only Change this */
  --word-spacing: 3px;       /* Word spacing */
  --letter-spacing: 0.25px;  /* Letter Spacing */
  --message-line-spacing: 2; /* Line spacing on messages */
  /*default: var(--background-tertiary);*/
  --cu-serverlistbg: var(--background-tertiary);

  /*default: var(--background-tertiary);*/
  --cu-topbarbg: var(--background-tertiary);

  /*default: var(--background-modifier-accent);*/
  --cu-dividercolor: var(--background-modifier-accent);

  /*set below to a value between 0 and 1 to have the statuspicker width be respective to the channelwidth*/
  /*for example 0.5 would be half of the channels*/
  --cu-statuspickerwidth: 1;

  /*set below to 0 to not have a divider*/
  --cu-divider: 1;
  /* For UserStatus */
  --online:#05c46e;
  --dnd:#ff0000;
  --idle:#fea100;
  --offline:rgb(83, 86, 91);
  --streaming:rgb(107, 27, 244);
  --accentcolor:			0,60,255;		/*	blurple		-	default:	114,137,218		*/
	--accentcolor2:			225,115,180;	/*	boostpink	-	default:	255,115,250		*/
  /* Change as you wish */
  --primary: hsla(220, 95%, 17%, 0.377);
  /* default: hsl(220, 24%, 20%) */
  --secondary: hsl(241, 89%, 15%);
  /* default: hsl(220, 24%, 12%) */
  --secondary-alpha: rgba(39, 47, 63, 0.9);
  /* default: rgba(39, 47, 63, 0.9) */
  --tertiary: hsl(220, 26%, 18%);
  /* default: hsl(220, 26%, 18%) */
  --tertiary-alpha: rgba(35, 43, 59, 0.6);
  /* default: rgba(35, 43, 59, 0.6) */
  --primary-light: hsl(220, 24%, 33%);
  /* default: hsl(220, 24%, 33%) */
  --accent: hsl(219, 79%, 66%);
  /* default: hsl(219, 79%, 66%) */
  --accent-alpha: rgba(100, 148, 237, 0.2);
  /* default: rgba(100, 148, 237, 0.2) */
  --accent-alpha-alt: rgba(100, 148, 237, 0.35);
  /* default: rgba(100, 148, 237, 0.35) */
  --accent-alpha-alt2: rgba(100, 148, 237, 0.5);
  /* default: rgba(100, 148, 237, 0.5) */
  --accent-dark: hsl(219, 79%, 33%);
  /* default: hsl(219, 79%, 33%) */
  --accent-light: hsl(219, 79%, 68%);
  /* default: hsl(219, 79%, 68%) */
  --mention-color: rgba(64, 106, 191, 0.2);
  /* default: rgba(64, 106, 191, 0.2) */
  --mention-color-alt: rgba(64, 106, 191, 0.4);
  /* default: rgba(64, 106, 191, 0.4) */
  --mention-color-alt2: rgba(64, 106, 191, 0.1);
  /* default: rgba(64, 106, 191, 0.1) */
  --ping-width: 30px;  /*default: 30px */
  /* discord vars */
  --background-primary: var(--primary);
  --background-secondary: var(--secondary);
  --background-secondary-alt: var(--secondary);
  --background-tertiary: var(--secondary);
  --background-accent: var(--accent);
  --background-message-hover: var(--tertiary-alpha);
  --scrollbar-thumb: var(--primary-light);
  --scrollbar-thin-thumb: var(--primary-light);
  --scrollbar-auto-scrollbar-color-thumb: var(--primary-light);
  --scrollbar-auto-track: var(--primary);
  --scrollbar-auto-scrollbar-color-track: var(--primary);
  --scrollbar-auto-thumb: var(--primary-light);
  --text-link: var(--accent);
  --focus-primary: var(--accent);
  --background-modifier-accent: var(--tertiary);
  --background-modifier-selected: var(--secondary);
  --background-modifier-hover: var(--tertiary);
  --background-modifier-active: var(--tertiary);
  --header-primary: #fff;
  --background-floating: var(--secondary);
  --deprecated-text-input-border: var(--tertiary);
  --deprecated-card-editable-bg: var(--secondary);
  --deprecated-card-bg: var(--secondary);
  --deprecated-text-input-bg: var(--secondary);
  --deprecated-text-input-border: var(--tertiary);
  --deprecated-quickswitcher-input-background: var(--primary);
  --brand-experiment: var(--accent) !important;
   /*shitty column*/

  --unread-server-animation: rainbow;
  --saucisse: rgb(255, 204, 0);
}

/* ----------------------------------------------------------------------- */
/* orange collumn */
.item-2hkk8m {
    display: none;
}
.item-2hkk8m:not([style *= "height: 8px"]) {
	border-color: transparent;
    background-color: transparent;
} 
.wrapper-1Rf91z .scroller-2TZvBN > div.listItem-2P_4kh:nth-child(1) .item-2hkk8m {
    opacity: 0 !important;
}
.item-2hkk8m {
    animation: var(--unread-server-animation) 3s linear infinite;
    border: 3px solid var(--saucisse);
    background: transparent;
    border-radius: 100%;
    display: block;
    margin-top: 0%;
	margin-bottom: 0;
	margin-left: 10%;
    position: relative;
	top: 0;
    right: 0px !important;
    width: 48px;
    height: 48px !important;
    /* remove the left to right display transformation */
    transform: none !important;
}

/**marge badge notif **/
.wrapper-sa6paO {
    height: 80px;
    width: 80px;
}

.typeWindows-1za-n7 > .wordmark-2iDDfm:before, .typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  margin-left: 3px;
  font-weight: 600;
  white-space: nowrap;
  order: 1;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
  content: "SKidded";
  color: rgba(0, 217, 255, 0.7);
  font-size: 14px;
  text-shadow: 0 0 3px rgb(0, 0, 255);
  font-family: var(--code-font);
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
  content: "v1.1.0e";
  color: rgb(255, 255, 255);
  font-family: var(--code-font);
  font-size: 13px;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm > svg {
  filter: drop-shadow(0 0 5px var(--main-color));
}
.typeWindows-1za-n7 > .wordmark-2iDDfm > svg > path {
  fill: var(--main-color);
}
.typeWindows-1za-n7 > .winButton-iRh8-Z {
  top: -2px;
  opacity: 0.7;
  transition: all 0.15s ease-in-out;
}
.typeWindows-1za-n7 > .winButton-iRh8-Z:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 1;
}
.typeWindows-1za-n7 > .winButtonClose-1HsbF-:hover {
  background: var(--danger-color);
}

.wordmark-2iDDfm > svg{
  width: 0px;
}

/* hides blocked messages*/
.groupStart-23k01U:not(.message-2qnXI6):not([style]) {
display:none;}
/* Collapsible Member list */
.membersWrap-2h-GB4:not(:hover) > div .member-3-YXUe{
  height: 0px;
  overflow: hidden;
    transition: height .6s;
}

.membersWrap-2h-GB4:hover > div .member-3-YXUe{
  height: 42px;
    transition:height.6s;
}

.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="Nitro Server Boost-tab" i]::before, .sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ[aria-controls="GUILD_PREMIUM-tab" i]::before {color: blueviolet;}

/* Permissons (Red) */
.deny-3nAuT6 {color: #F04747;}

.deny-3nAuT6:hover {background: #F04747 !important; color: white;}
.deny-3nAuT6.selected-2YhbGh {background: #F04747 !important;}
.deny-3nAuT6.selected-2YhbGh:hover {background: #FF6660 !important;}

/* Permissons (Yellow) */
.passthrough-1c2ewQ {color: #FAA61A;}

.passthrough-1c2ewQ:hover {background: #FAA61A !important; color: white;}
.passthrough-1c2ewQ.selected-2YhbGh {background: #FAA61A !important;}
.passthrough-1c2ewQ.selected-2YhbGh:hover {background: #FFC23D !important;}

/* Permissons (Green) */
.allow-1PzSY3 {color: #43B581;}

.allow-1PzSY3:hover {background: #43B581 !important; color: white;}
.allow-1PzSY3.selected-2YhbGh {background: #43B581 !important;}
.allow-1PzSY3.selected-2YhbGh:hover {background: #61D09A !important;}

#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-idle-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]) {
  fill: var(--online) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-idle-mobile)"]) {
  fill: var(--dnd) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]) {
  fill: var(--idle) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]):not([mask="url(#svg-mask-status-idle-mobile)"]) {
  fill: var(--streaming) !important;}
/* hide invite to server context */
#user-context-invite-to-server{display:none}

/**Popout Window Buttons v2 */
.titleBar-AC4pGV>*:nth-child(2):hover {
  transform: scale(1);
  border-radius: 0 0 0 0;
  background-color: #f04747;
  filter:none;
    transition:200ms ease;
}
.titleBar-AC4pGV>*:nth-child(2){
  transform: scale(0.70);
  border-radius: 50px 50px 50px 50px;
  background-color: #f04747;
  filter:blur(2px) contrast(75%) grayscale(15%);
    transition:200ms ease;
}
.titleBar-AC4pGV>*:nth-child(3):hover {
  transform: scale(1);
  border-radius: 0 0 0 0;
  background-color: #48c048;
  filter:none;
    transition:200ms ease;
}
.titleBar-AC4pGV>*:nth-child(3){
  transform: scale(0.70);
  border-radius: 50px 50px 50px 50px;
  background-color: #48c048;
  filter:blur(2px) contrast(75%) grayscale(15%);
    transition:200ms ease;
}
.titleBar-AC4pGV>*:nth-child(4):hover {
  transform: scale(1);
  border-radius: 0 0 0 0;
  background-color: #eab618;
  filter:none;
    transition:200ms ease;
}
.titleBar-AC4pGV>*:nth-child(4){
  transform: scale(0.70);
  border-radius: 50px 50px 50px 50px;
  background-color: #eab618;
  filter:blur(2px) contrast(75%) grayscale(15%);
    transition:200ms ease;
}
/* remove retarded green circle around avatar */
.avatarSpeaking-2c8-9i { display: none; } 

/* frick gfycat*/
.embedVideo-3nf0O9[href*="giant.gfycat.com"],.embedVideo-3nf0O9[href*="thumb.gfycat.com"],.embedVideo-3nf0O9[href*="gfycat.com"],.embedVideo-3nf0O9[href*="thumbs.gfycat.com"] {
  display: none;
}

.styleFlexible-wGDiIL {
  min-width: 250px;
}
.container-2Pjhx- .subText-1KtqkB strong {
    color: tan;
}
.container-2Pjhx- .activityText-yGKsKm {
    color: blue;
}

/* Server list */
.guilds-1SWlCJ .scroller-2TZvBN,
.guilds-1SWlCJ .scroller-1Bvpku {
  contain: none !important;
  padding-bottom: 170px;
}
/* BUBBLY WUBBLIES */
/* channels and server name */
.container-3w7J-x {
  border-radius: 20px;
  max-height: 540px !important;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: 5px;
}

/* userpanel setting shiz */
.panels-j1Uci_ {
 margin-bottom: 15px;
 margin-left: 5px;
}

/* Chat stuff*/
.chatContent-a9vAAp {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3) !important;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/* member list */
.membersWrap-2h-GB4, .hiddenMembers-2dcs_q {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
  margin-right: 10px;
}

/* guilds (horizontal)*/
.wrapper-3NnKdC, #app-mount .guilds-1SWlCJ {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* channel tabs plugin */
.channelTabs-fav, .channelTabs-channel {
  background-color: rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px;
}
.channelTabs-tab {
  border-radius: 20px;
}
.channelTabs-favContainer, .channelTabs-tabContainer {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.channelTabs-tabContainer {
  border-top-right-radius: 20px;
}
.topSectionSpotify-1lI0-P .assets-VMAukC img {
  --props: 1s linear;
  transition: height var(--props), width var(--props);
}
.topSectionSpotify-1lI0-P .assets-VMAukC:hover {
  left: 55px;
  bottom: 30px;
}
.topSectionSpotify-1lI0-P .assets-VMAukC:hover img {
  right: 54px;
  top: 30px;
  width: 200px;
  height: 200px;
  position: relative;
}

/* COLORATION HEADERS MEMBER + CATEGORIES + SETTINGS + DM*/
/* Member list */
.membersGroup-v9BXpm::after{
  color: #fff !important;
}
/* channel */
.name-3l27Hl::before, .side-8zPYf6 .header-2RyJ0Y::before, .membersGroup-v9BXpm::before, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::before {
  background: linear-gradient(to left, #fff 50%, transparent) !important;
}
.name-3l27Hl, .side-8zPYf6 .header-2RyJ0Y, .membersGroup-v9BXpm, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1 {
  color: #fff !important;
}
.name-3l27Hl::after, .side-8zPYf6 .header-2RyJ0Y::after, .membersGroup-v9BXpm::after, .privateChannels-1nO12o .privateChannelsHeaderContainer-3NB1K1::after {
  background: linear-gradient(to right, #fff 50%, transparent) !important;
}
.addButtonIcon-2CbG1X {
  color: #fff
}
[aria-label=Servers] .listItem-GuPuDH:not(.selected) svg {
  --props: 0.5s linear;
  filter: blur(7px);
  margin-bottom: 15px;
  clip-path: circle(50% at center);
  transition: clip-path var(--props), filter var(--props);
}

[aria-label=Servers] .listItem-GuPuDH:hover svg {
  filter: none;
  clip-path: none;
}

.emojiSection-3Fb9ix .flex-1xMQg5 {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    align-items: center;
}
.emojiSection-3Fb9ix .truncatingText-18osv_ {
    margin: 0;
}
.emojiSection-3Fb9ix .emoji {
    width: var(--emojis-size) !important;
    height: var(--emojis-size) !important;
}

#splash {
    background: rgb(5, 5, 5);
}
.progress .progress-bar {
    background-color: rgb(15, 15, 15);
}
.progress .progress-bar .complete {
    background-color: #ffffff;
}
#splash .splash-inner-dl .dl-select-frame .Select-control {
    background: rgb(13, 13, 13);
    border-color: rgb(15, 15, 15);
}
#splash .splash-inner-dl .dl-select-frame .Select-menu-outer {
    background: rgb(13, 13, 13);
    border-color: rgb(15, 15, 15);
}

.progress-1IcQ3A {
    background-color: #101010 !important; /* Change this line for the background */
}

.container-3PXSwK {
    border-radius: 5px;
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
    background: none;
}

/* Full screen settings */
.contentRegion-3nDuYy {flex: 1 1 100%}
.contentColumn-2hrIYH, 
.customColumn-Rb6toI, 
.sidebarScrollable-1qPI87 + .content-1rPSz4, 
.customScroller-26gWhv > div {max-width: 95%}

.container-3auIfb {
    color: rgba (255, 255, 255, 1) !important;
}

.bd-switch input:checked+.bd-switch-body,
.container-3auIfb[style*="67, 181, 129"]{
--switch-color: rgb(15,68,117);
background-color: var(--switch-color) !important;
fill: var(--switch-color) !important;}
/* codeblock colors */
.theme-dark,
html.theme-dark #app-mount .theme-light .root-1gCeng,
html.theme-dark .force-theme.theme-light {
  --base-border: #141414;
  --text-normal: #d1d5da;
  --text-muted: #959da5;
  --text-focus: #ffffff;
  --text-link: rgb(var(--link-colour));
  --background-light: #2f363d;
  --background: #24292e;
  --background-alt: #2a3036;
  --background-dark: #1d2125;
  --guilds-background:var(--background);
  --white:#ffffff;
  --scrollbar-background: rgb(255 255 255 / 0.1);
  --scrollbar-background-hover: rgb(255 255 255 / 0.2);
  --scrollbar-background-active: rgb(255 255 255 / 0.3);
  --background-modifier-hover: var(--background-light);
  --background-modifier-active: #444d56;
  --background-modifier-selected: var(--accent-solid);
  --syntax-blue:#79b8ff;
  --syntax-purple:#b392f0;
  --syntax-grey:#959da5;
  --syntax-grey-alt:#d1d5da;
  --syntax-orange:#ffab70;
  --syntax-green:#56b6c2;
}

/* codeblocks */

#app-mount pre code:before {
  content: "Unknown Language";
  width: 100%;
  height: 24px;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--base-border);
  font-size: 1em;
  font-weight: var(--font-weight-normal);
  padding: 0 calc(var(--spacing) + 20px);
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--background-light);
  box-sizing: border-box;
  font-family: var(--font-family-sans-serif);
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
}
#app-mount code,
#app-mount pre {
  font-family: var(--font-family-monospace);
}
#app-mount code {
  border: 1px solid var(--base-border);
  background-color: var(--background);
  font-size: 100%;
}
#app-mount pre {
  margin: var(--spacing) 0;
  background: var(--background);
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: var(--border-radius);
}
#app-mount pre:before {
  content: "1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a 10\a 11\a 12\a 13\a 14\a 15\a 16\a 17\a 18\a 19\a 20\a 21\a 22\a 23\a 24\a 25\a 26\a 27\a 28\a 29\a 30\a 31\a 32\a 33\a 34\a 35\a 36\a 37\a 38\a 39\a 40\a 41\a 42\a 43\a 44\a 45\a 46\a 47\a 48\a 49\a 50\a 51\a 52\a 53\a 54\a 55\a 56\a 57\a 58\a 59\a 60\a 61\a 62\a 63\a 64\a 65\a 66\a 67\a 68\a 69\a 70\a 71\a 72\a 73\a 74\a 75\a 76\a 77\a 78\a 79\a 80\a 81\a 82\a 83\a 84\a 85\a 86\a 87\a 88\a 89\a 90\a 91\a 92\a 93\a 94\a 95\a 96\a 97\a 98\a 99\a 100\a 101\a 102\a 103\a 104\a 105\a 106\a 107\a 108\a 109\a 110\a 111\a 112\a 113\a 114\a 115\a 116\a 117\a 118\a 119\a 120\a 121\a 122\a 123\a 124\a 125\a 126\a 127\a 128\a 129\a 130\a 131\a 132\a 133\a 134\a 135\a 136\a 137\a 138\a 139\a 140\a 141\a 142\a 143\a 144\a 145\a 146\a 147\a 148\a 149\a 150\a 151\a 152\a 153\a 154\a 155\a 156\a 157\a 158\a 159\a 160\a 161\a 162\a 163\a 164\a 165\a 166\a 167\a 168\a 169\a 170\a 171\a 172\a 173\a 174\a 175\a 176\a 177\a 178\a 179\a 180\a 181\a 182\a 183\a 184\a 185\a 186\a 187\a 188\a 189\a 190\a 191\a 192\a 193\a 194\a 195\a 196\a 197\a 198\a 199\a 200\a 201\a 202\a 203\a 204\a 205\a 206\a 207\a 208\a 209\a 210\a 211\a 212\a 213\a 214\a 215\a 216\a 217\a 218\a 219\a 220\a 221\a 222\a 223\a 224\a 225\a 226\a 227\a 228\a 229\a 230\a 231\a 232\a 233\a 234\a 235\a 236\a 237\a 238\a 239\a 240\a 241\a 242\a 243\a 244\a 245\a 246\a 247\a 248\a 249\a 250\a 251\a 252\a 253\a 254\a 255\a 256\a 257\a 258\a 259\a 260\a 261\a 262\a 263\a 264\a 265\a 266\a 267\a 268\a 269\a 270\a 271\a 272\a 273\a 274\a 275\a 276\a 277\a 278\a 279\a 280\a 281\a 282\a 283\a 284\a 285\a 286\a 287\a 288\a 289\a 290\a 291\a 292\a 293\a 294\a 295\a 296\a 297\a 298\a 299\a 300\a 301\a 302\a 303\a 304\a 305\a 306\a 307\a 308\a 309\a 310\a 311\a 312\a 313\a 314\a 315\a 316\a 317\a 318\a 319\a 320\a 321\a 322\a 323\a 324\a 325\a 326\a 327\a 328\a 329\a 330\a 331\a 332\a 333\a 334\a 335\a 336\a 337\a 338\a 339\a 340\a 341\a 342\a 343\a 344\a 345\a 346\a 347\a 348\a 349\a 350\a 351\a 352\a 353\a 354\a 355\a 356\a 357\a 358\a 359\a 360\a 361\a 362\a 363\a 364\a 365\a 366\a 367\a 368\a 369\a 370\a 371\a 372\a 373\a 374\a 375\a 376\a 377\a 378\a 379\a 380\a 381\a 382\a 383\a 384\a 385\a 386\a 387\a 388\a 389\a 390\a 391\a 392\a 393\a 394\a 395\a 396\a 397\a 398\a 399\a 400\a 401\a 402\a 403\a 404\a 405\a 406\a 407\a 408\a 409\a 410\a 411\a 412\a 413\a 414\a 415\a 416\a 417\a 418\a 419\a 420\a 421\a 422\a 423\a 424\a 425\a 426\a 427\a 428\a 429\a 430\a 431\a 432\a 433\a 434\a 435\a 436\a 437\a 438\a 439\a 440\a 441\a 442\a 443\a 444\a 445\a 446\a 447\a 448\a 449\a 450\a 451\a 452\a 453\a 454\a 455\a 456\a 457\a 458\a 459\a 460\a 461\a 462\a 463\a 464\a 465\a 466\a 467\a 468\a 469\a 470\a 471\a 472\a 473\a 474\a 475\a 476\a 477\a 478\a 479\a 480\a 481\a 482\a 483\a 484\a 485\a 486\a 487\a 488\a 489\a 490\a 491\a 492\a 493\a 494\a 495\a 496\a 497\a 498\a 499\a 500\a 501\a 502\a 503\a 504\a 505\a 506\a 507\a 508\a 509\a 510\a 511\a 512\a 513\a 514\a 515\a 516\a 517\a 518\a 519\a 520\a 521\a 522\a 523\a 524\a 525\a 526\a 527\a 528\a 529\a 530\a 531\a 532\a 533\a 534\a 535\a 536\a 537\a 538\a 539\a 540\a 541\a 542\a 543\a 544\a 545\a 546\a 547\a 548\a 549\a 550\a 551\a 552\a 553\a 554\a 555\a 556\a 557\a 558\a 559\a 560\a 561\a 562\a 563\a 564\a 565\a 566\a 567\a 568\a 569\a 570\a 571\a 572\a 573\a 574\a 575\a 576\a 577\a 578\a 579\a 580\a 581\a 582\a 583\a 584\a 585\a 586\a 587\a 588\a 589\a 590\a 591\a 592\a 593\a 594\a 595\a 596\a 597\a 598\a 599\a 600\a 601\a 602\a 603\a 604\a 605\a 606\a 607\a 608\a 609\a 610\a 611\a 612\a 613\a 614\a 615\a 616\a 617\a 618\a 619\a 620\a 621\a 622\a 623\a 624\a 625\a 626\a 627\a 628\a 629\a 630\a 631\a 632\a 633\a 634\a 635\a 636\a 637\a 638\a 639\a 640\a 641\a 642\a 643\a 644\a 645\a 646\a 647\a 648\a 649\a 650\a 651\a 652\a 653\a 654\a 655\a 656\a 657\a 658\a 659\a 660\a 661\a 662\a 663\a 664\a 665\a 666\a 667\a 668\a 669\a 670\a 671\a 672\a 673\a 674\a 675\a 676\a 677\a 678\a 679\a 680\a 681\a 682\a 683\a 684\a 685\a 686\a 687\a 688\a 689\a 690\a 691\a 692\a 693\a 694\a 695\a 696\a 697\a 698\a 699\a 700\a 701\a 702\a 703\a 704\a 705\a 706\a 707\a 708\a 709\a 710\a 711\a 712\a 713\a 714\a 715\a 716\a 717\a 718\a 719\a 720\a 721\a 722\a 723\a 724\a 725\a 726\a 727\a 728\a 729\a 730\a 731\a 732\a 733\a 734\a 735\a 736\a 737\a 738\a 739\a 740\a 741\a 742\a 743\a 744\a 745\a 746\a 747\a 748\a 749\a 750\a 751\a 752\a 753\a 754\a 755\a 756\a 757\a 758\a 759\a 760\a 761\a 762\a 763\a 764\a 765\a 766\a 767\a 768\a 769\a 770\a 771\a 772\a 773\a 774\a 775\a 776\a 777\a 778\a 779\a 780\a 781\a 782\a 783\a 784\a 785\a 786\a 787\a 788\a 789\a 790\a 791\a 792\a 793\a 794\a 795\a 796\a 797\a 798\a 799\a 800\a 801\a 802\a 803\a 804\a 805\a 806\a 807\a 808\a 809\a 810\a 811\a 812\a 813\a 814\a 815\a 816\a 817\a 818\a 819\a 820\a 821\a 822\a 823\a 824\a 825\a 826\a 827\a 828\a 829\a 830\a 831\a 832\a 833\a 834\a 835\a 836\a 837\a 838\a 839\a 840\a 841\a 842\a 843\a 844\a 845\a 846\a 847\a 848\a 849\a 850\a 851\a 852\a 853\a 854\a 855\a 856\a 857\a 858\a 859\a 860\a 861\a 862\a 863\a 864\a 865\a 866\a 867\a 868\a 869\a 870\a 871\a 872\a 873\a 874\a 875\a 876\a 877\a 878\a 879\a 880\a 881\a 882\a 883\a 884\a 885\a 886\a 887\a 888\a 889\a 890\a 891\a 892\a 893\a 894\a 895\a 896\a 897\a 898\a 899\a 900\a 901\a 902\a 903\a 904\a 905\a 906\a 907\a 908\a 909\a 910\a 911\a 912\a 913\a 914\a 915\a 916\a 917\a 918\a 919\a 920\a 921\a 922\a 923\a 924\a 925\a 926\a 927\a 928\a 929\a 930\a 931\a 932\a 933\a 934\a 935\a 936\a 937\a 938\a 939\a 940\a 941\a 942\a 943\a 944\a 945\a 946\a 947\a 948\a 949\a 950\a 951\a 952\a 953\a 954\a 955\a 956\a 957\a 958\a 959\a 960\a 961\a 962\a 963\a 964\a 965\a 966\a 967\a 968\a 969\a 970\a 971\a 972\a 973\a 974\a 975\a 976\a 977\a 978\a 979\a 980\a 981\a 982\a 983\a 984\a 985\a 986\a 987\a 988\a 989\a 990\a 991\a 992\a 993\a 994\a 995\a 996\a 997\a 998\a 999\a";
  width: 20px;
  padding: 0 var(--spacing-half);
  position: absolute;
  left: 0;
  top: 1px;
  text-align: right;
  padding-top: 25px;
  line-height: var(--line-height);
  height: calc(100% - 25px);
  overflow: hidden;
  color: var(--text-muted);
  background: var(--background-dark);
  font-size: var(--font-size-sm);
}
#app-mount pre code {
  position: relative;
  box-sizing: border-box;
  padding: 25px 0.25em 0.15em 34px !important;
  background: transparent !important;
  border: 1px solid var(--base-border);
  font-size: 11px;
  font-family: sans-serif;
  line-height: var(--line-height);
  border-radius: var(--border-radius);
  color: var(--syntax-grey-alt);
}
#app-mount pre code:before {
  content: "Unknown Language";
  width: 100%;
  height: 24px;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--base-border);
  font-size: 1em;
  font-weight: var(--font-weight-normal);
  padding: 0 calc(var(--spacing) + 20px);
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--background-light);
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
}
#app-mount pre code:after {
  content: "";
  width: 24px;
  height: 23px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 var(--spacing-third);
  font-family: sans-serif;
}

#app-mount pre code[class~=hljs]:before {
  content: "Plain Text";
}
#app-mount pre code[class~=diff i]:before {
  content: "Diff";
}
#app-mount pre code[class~=cs i]:before, #app-mount pre code[class~=csharp i]:before {
  content: "C#";
}
#app-mount pre code[class~=ini i]:before {
  content: "Initialization File";
}
#app-mount pre code[class~=autohotkey i]:before {
  content: "AutoHotkey";
}
#app-mount pre code[class~=asciidoc i]:before {
  content: "Ascii";
}
#app-mount pre code[class~=TOML i]:before {
  content: "TOML";
}
#app-mount pre code[class~=nginx i]:before {
  content: "NGINX";
}
#app-mount pre code[class~=perl i]:before {
  content: "Perl";
}
#app-mount pre code[class~=d i]:before {
  content: "d";
}
#app-mount pre code[class~=javascript i]:before, #app-mount pre code[class~=js i]:before {
  content: "Javascript";
}
#app-mount pre code[class~=css i]:before {
  content: "Cascading Style Sheet";
}
#app-mount pre code[class~=bash i]:before {
  content: "Bash";
}
#app-mount pre code[class~=markdown i]:before, #app-mount pre code[class~=md i]:before {
  content: "Markdown";
}
#app-mount pre code[class~=html i]:before {
  content: "HTML";
}
#app-mount pre code[class~=xl i]:before {
  content: "eXtensible Language";
}
#app-mount pre code[class~=coffee i]:before {
  content: "CoffeeScript";
}
#app-mount pre code[class~=ruby i]:before {
  content: "Ruby";
}
#app-mount pre code[class~=sql i]:before {
  content: "SQL";
}
#app-mount pre code[class~=java i]:before {
  content: "Java";
}
#app-mount pre code[class~=py i]:before, #app-mount pre code[class~=python i]:before {
  content: "Python";
}
#app-mount pre code[class~=vb i]:before, #app-mount pre code[class~=visualbasic i]:before, #app-mount pre code[class~=vbs i]:before {
  content: "Visual Basic";
}
#app-mount pre code[class~=lua i]:before {
  content: "Lua";
}
#app-mount pre code[class~=php i]:before {
  content: "Php";
}
#app-mount pre code[class~=swift i]:before {
  content: "Swift";
}
#app-mount pre code[class~=makefile i]:before {
  content: "Makefile";
}
#app-mount pre code[class~=go i]:before {
  content: "Go";
}
#app-mount pre code[class~=rust i]:before {
  content: "Rust";
}
#app-mount pre code[class~=prolog i]:before {
  content: "Prolog";
}
#app-mount pre code[class~=ts i]:before, #app-mount pre code[class~=typescript i]:before {
  content: "TypeScript";
}
#app-mount pre code[class~=http i]:before {
  content: "HyperText Transfer Protocol";
}
#app-mount pre code[class~=json i]:before {
  content: "JSON";
}
#app-mount pre code[class~=xml i]:before {
  content: "XML";
}
#app-mount pre code[class~=less i]:before {
  content: "Less";
}
#app-mount pre code[class~=sass i]:before, #app-mount pre code[class~=scss i]:before {
  content: "SCSS";
}
#app-mount pre code[class~=elm i]:before {
  content: "Elm";
}
#app-mount pre code[class~=cpp i]:before {
  content: "C++";
}
#app-mount pre code[class~=hbs i]:before {
  content: "Handlebars";
}
#app-mount pre code[class~="1c" i]:before {
  content: "1c";
}
#app-mount pre code[class~=abnf i]:before {
  content: "ABNF";
}
#app-mount pre code[class~=clojure i]:before {
  content: "Clojure";
}
#app-mount pre code[class~=objc i]:before {
  content: "Objective-C";
}
#app-mount pre code[class~=yaml i]:before {
  content: "YAML";
}
#app-mount pre code[class~=shell i]:before, #app-mount pre code[class~=sh i]:before {
  content: "Shell";
}
#app-mount pre code[class~=kotlin i]:before {
  content: "Kotlin";
}
#app-mount pre code[class~=apache i]:before {
  content: "Apache";
}
#app-mount pre code[class~=stylus i]:before {
  content: "Stylus";
}
#app-mount pre code[class~=avrasm i]:before {
  content: "AVR Assembler";
}
#app-mount pre code[class~=llvm i]:before {
  content: "LLVM iR";
}
#app-mount pre code[class~=mipsasm i]:before {
  content: "MIPS Assembly";
}
#app-mount pre code[class~=x86asm i]:before {
  content: "Intel x86 Assembly";
}
#app-mount pre code[class~=crmsh i]:before {
  content: "crmsh";
}
#app-mount pre code[class~=dns i]:before {
  content: "DNS Zone File";
}
#app-mount pre code[class~=dockerfile i]:before {
  content: "Dockerfile";
}
#app-mount pre code[class~=dsconfig i]:before {
  content: "dsconfig";
}
#app-mount pre code[class~=jboss-cli i]:before {
  content: "jboss-cli";
}
#app-mount pre code[class~=ldif i]:before {
  content: "LDIF";
}
#app-mount pre code[class~="pf.conf" i]:before {
  content: "pf.conf";
}
#app-mount pre code[class~=puppet i]:before {
  content: "Puppet";
}
#app-mount pre code[class~=roboconf i]:before {
  content: "Roboconf";
}
#app-mount pre code[class~=axapta i]:before {
  content: "Microsoft Dynamics AX";
}
#app-mount pre code[class~=cos i]:before {
  content: "Cache Object Script";
}
#app-mount pre code[class~=isbl i]:before {
  content: "ISBL";
}
#app-mount pre code[class~=livecodeserver i]:before {
  content: "LiveCode";
}
#app-mount pre code[class~=ldif i]:before {
  content: "LDIF";
}
#app-mount pre code[class~=ruleslanguage i]:before {
  content: "Oracle Rules Language";
}
#app-mount pre code[class~=clean i]:before {
  content: "Clean";
}
#app-mount pre code[class~=coq i]:before {
  content: "Coq";
}
#app-mount pre code[class~=elixir i]:before {
  content: "Elixir";
}
#app-mount pre code[class~=erlang-repl i]:before {
  content: "Erlang REPL";
}
#app-mount pre code[class~=erlang i]:before {
  content: "Erlang";
}
#app-mount pre code[class~=flix i]:before {
  content: "Flix";
}
#app-mount pre code[class~=fsharp i]:before, #app-mount pre code[class~=fs i]:before {
  content: "F#";
}
#app-mount pre code[class~=haskell i]:before {
  content: "Haskell";
}
#app-mount pre code[class~=ocaml i]:before {
  content: "OCaml";
}
#app-mount pre code[class~=scala i]:before {
  content: "Scala";
}
#app-mount pre code[class~=sml i]:before {
  content: "SML (Standard ML)";
}
#app-mount pre code[class~=xquery i]:before {
  content: "XQuery";
}
#app-mount pre code[class~=glsl i]:before {
  content: "GLSL";
}
#app-mount pre code[class~=mel i]:before {
  content: "MEL";
}
#app-mount pre code[class~=processing i]:before {
  content: "Processing";
}
#app-mount pre code[class~=rib i]:before {
  content: "RenderMan RIB";
}
#app-mount pre code[class~=rsl i]:before {
  content: "RenderMan RSL";
}
#app-mount pre code[class~=armasm i]:before {
  content: "Arm Assembly";
}
#app-mount pre code[class~=asm i]:before, #app-mount pre code[class~=assembly i]:before {
  content: "Assembly";
}

/* New Android reactions port */
.reaction-1hd86g.reactionMe-wv5HKu { border: 1.4px solid rgb(0, 55, 255);}

/*avatar rounding*/
[class*="avatar"] {
  border-radius: 6px;
}
[class*="avatar"] .mask-1l8v16, [class*="avatar"] .avatarHint-1qgaV3, [class*="avatar"] .avatar-VxgULZ {
  border-radius: 6px;
}
[class*="avatar"] .mask-1l8v16 foreignObject, [class*="avatar"] .avatarHint-1qgaV3 foreignObject, [class*="avatar"] .avatar-VxgULZ foreignObject {
  mask: unset !important;
}

/*epic reactions update */
.reaction-1hd86g {
    background-color: rgba(100, 100, 100, 0.3);
}
.reaction-1hd86g:hover {
    background-color: rgba(100, 100, 100, 0.3);
    border-color: rgba(70, 70, 70, 0.3) !important;
}
.reaction-1hd86g:active {
    background-color: rgba(100, 100, 100, 0.3);
}
.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: rgba(0, 0, 0) !important;
    border-color: rgba(0, 0, 255) !important;
}
.reaction-1hd86g.reactionMe-wv5HKu .reactionCount-2mvXRV {
    color: rgb(0, 0, 255);
}
/* channel title thing and search stuff */
.searchBar-3dMhjb {
  border-radius: 15px !important;
}
.iconWrapper-2OrFZ1, .clickable-3rdHwn {
  background-color: transparent;
}
/* used to be uncolored */
#app-mount .children-19S4PO {
  background-color: transparent;
}

.thin-1ybCId, .scrollerBase-289Jih, .fade-2kXiP2 {
  background-color: transparent;
}

#app-mount .member-3-YXUe, .container-2Pjhx-, .clickable-1JJAn8 {
  background-color: transparent;
}

#app-mount .content-3YMskv {
  background-color: transparent;
}
.section-2gLsgF {
  background-color: hsla(219, 94%, 14%, 0.925)
}
/* ------------------------------------------------------------ */

.mentioned-xhSam7 .repliedMessage-VokQwo:before{
    border-color:hsla(var(--mention-hue), 73%, 46%);
}
.mentioned-xhSam7,.menu-3sdvDG,.mouse-mode.full-motion .mentioned-xhSam7:hover,.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z{
  background-color:hsla(var(--mention-hue), 73%, 46%,0.1);
}
.mentioned-xhSam7:before,.menu-3sdvDG:before{
  background-color:hsla(var(--mention-hue), 73%, 46%);
}

/* custom link colors */
[href*="youtu.be"],
[href*="youtube.com"] {
    color:#c4302b !important;
    font-weight: 700;
}

[href*="twitch.tv"] {
    color:#b700ff !important;
    font-weight: 700;
}
[href*="spotify.com"] {
    color:rgb(19, 185, 4) !important; 
    font-weight: 700;
}
[href*="discord.com/channels/"] {
    color:#7289da !important;
}
[href*="discord.com/channels/"]::before {
    content:'Jump to Message : ';
    font-size:16px;
    font-weight:700;
    color: #603cff;
}
[href*="reddit.com"] {
    color:#e05a0c !important; 
    font-weight: 700;
}
[href*="instagram.com/"]{
    background: -webkit-linear-gradient(80deg, rgb(255, 238, 0), rgb(255, 157, 11), #b700ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
} 
[href*="twitter.com/"]{
    color:#00acee !important;
    font-weight: 700;
}
[href*="betterdiscord.app/"],
[href*="discord.gg/"] {
    color:#7289da !important;
    font-weight: 700;
}
[href*="github.com"]{
    color:#00f0a8 !important;
    font-weight: 700;
}

/* text size */
#app-mount .markup-2BOw-j, .messageContent-2qWWxC {
  font-size: 16.3px !important;
}
/**disable rainbow DM**/
.wrapper-3NnKdC .scroller-1Bvpku div .listItem-GuPuDH .pill-1Z5PKm .item-2hkk8m {
	opacity: 0 !important;
}
/* categories */
.mainContent-2h-GEV::before {
    content: "📂";    
    padding-left: 50px;
    text-align: right;
}

/*user popout update*/

.profileBanner-33-uE1 {
  background: none;
}

.avatarWrapperNormal-2tu8Ts {
  left: 35%;
}

.headerTop-2y3V6H > .profileBadges-1dm1_q {
  display: none;
}

.headerText-2WJ44e {
  text-align: center;
}

.username-2b1r56.headerTagUsernameNoNickname-1SSLBc.headerTagUsernameBase-12nwcw {
  overflow: hidden;
}

#app-mount .profileBanner-33-uE1, .banner-2QYc2d {
  display: none;
}

#app-mount .avatar-22FtUu {
  margin-top: -20px;
  margin-left: -100px;
  padding: 1px;
}

#app-mount .headerTagNoNickname-3ak9o8 .headerTag-nSOkYt, .size14-3iUx6q, .size20-2QkeeC {
  font-size: 16px;
  margin-left: 100px;
  margin-top: -30px;
}

#app-mount .nickname-322DbL {
  position: absolute;
}

.date-YN6TCS {
  user-select: text;
}

.avatarHint-1E3LMl {
  margin-top: -20px;
  margin-left: -100px;
  padding: 1px;
}

/*view profile modal rounding*/
[class*="avatar"] {
  border-radius: 6px;
}
[class*="avatar"] .avatarHint-1E3LMl, [class*="avatar2"] .avatarHint-1qgaV3, [class*="avatar"] .avatarHint-1E3LMl {
  border-radius: 6px;
}
[class*="avatar"] .avatarHint-1E3LMl foreignObject, [class*="avatar"] .avatarHint-1qgaV3 foreignObject, [class*="avatar"] .avatar-VxgULZ foreignObject {
  mask: unset !important;
}


/* background image why not */
:root::after {
  background-image: url(http://thumbs.gfycat.com/DecisiveSorrowfulGuineapig-size_restricted.gif);
  background-size: auto; /* Use cover for small images and contain for large images {default: auto} */
  mix-blend-mode: screen; /* Use multiply for the opposite effect {default: screen} */
  filter: invert(0); /* Use to invert dark images for light theme */
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  z-index: 10000003;
  width: 100vw;
  height: 100vh;
  content: "";
  opacity: 1;
  top: 0;
  left: 0;
}

/* bot tag */
.px-10SIf7.botTag-2WPJ74 {
  background: rgb(50,130,250)
}
.px-10SIf7 .botText-1526X_ {
  font: 16px cursive;
}
.px-10SIf7 .botText-1526X_ {
  text-indent: -999px;
}
.px-10SIf7 .botText-1526X_:after {
  text-indent: 0px;
  float: left;
  content: 'ඞ';
}
/* gradient userpopout */
#app-mount .headerTop-2y3V6H {
  background: rgb(95,87,222);
  background: linear-gradient(90deg, rgba(95,87,222,1) 0%, rgba(113,98,240,1) 3%, rgba(132,110,230,1) 17%, rgba(84,67,135,1) 25%, rgba(109,76,190,1) 37%, rgba(139,87,250,0.9363095580028886) 52%, rgba(105,80,245,1) 55%, rgba(53,78,255,1) 61%, rgba(0,212,255,1) 100%);
}

/* gradient user contenxt */
#user-context {
  background: rgb(95,87,222);
  background: linear-gradient(90deg, rgba(95,87,222,1) 0%, rgba(113,98,240,1) 3%, rgba(132,110,230,1) 17%, rgba(84,67,135,1) 25%, rgba(109,76,190,1) 37%, rgba(139,87,250,0.9363095580028886) 52%, rgba(105,80,245,1) 55%, rgba(53,78,255,1) 61%, rgba(0,212,255,1) 100%);
}
/* nyan cat logo epic thing*/
.childWrapper-anI2G9 {
  content: url("https://static.wixstatic.com/media/4cbe8d_f1ed2800a49649848102c68fc5a66e53~mv2.gif");
}

/* animated user modal gradience epic thing */
.header-QKLPzZ {
  background: linear-gradient(180deg, #000cff, #000000);
  background-size: 400% 400%;
  -webkit-animation: rotate 30s ease infinite;
  -moz-animation: rotate 30s ease infinite;
  -o-animation: rotate 30s ease infinite;
  animation: rotate 30s ease infinite;
}

@-webkit-keyframes rotate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes rotate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-o-keyframes rotate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes rotate {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}

/* rainbow border */  
.appMount-3lHmkl{
    margin:var(--Thickness);
    width:calc(100% - calc(var(--Thickness) * 2))!important;
    height:calc(100% - calc(var(--Thickness) * 2))!important;
}
.platform-osx, .appMount-3lHmkl{
    border-radius:6px;
}
body{
    background-image: linear-gradient(to left, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    animation: gradient-border var(--Speed) lineaar infinite;
    background-size: 400% 100%;
    color: transparent !important;
  }
@keyframes gradient-border {
      0%, 200% {
        background-position: 0 0;
    }
  
      99.999999999999999% {
        background-position: 130% 0;
    }
}
.platform-osx, .appMount-3lHmkl {
    background: linear-gradient(181deg, #ff0000, #ff8e00, #00ff19, #1600ff, #a800ff);
    background-size: 1000% 1000%;

    -moz-animation: gradient-border 30s ease infinite;
    -o-animation: gradient-border 30s ease infinite;
    animation: gradient-border 30s ease infinite;
}

@-moz-keyframes gradient-border {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@-o-keyframes gradient-border {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes gradient-border {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
